#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_install:
	dh_auto_install
	echo "Removing embedded jquery javascript library..."
	rm debian/tmp/usr/share/doc/libdbusmenu-qt5-doc/jquery.js

override_dh_makeshlibs:
	dh_makeshlibs -V 'libdbusmenu-qt5 (>=0.1.0)'

override_dh_auto_test:
	echo "Skipping tests (can't test inside chroot)..."
