#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	mkdir qt4
	mkdir qt5
	cd qt4 && cmake -DUSE_QT4=true ../
	cd qt5 && cmake -DUSE_QT5=true ../

override_dh_auto_build:
	cd qt4 && make
	cd qt5 && make

override_dh_clean:
	dh_clean
	rm -rf qt4
	rm -rf qt5

override_dh_auto_install:
	dh_auto_install
	echo "Removing embedded jquery javascript library..."
	rm debian/tmp/usr/share/doc/libdbusmenu-qt5-doc/jquery.js
	rm debian/tmp/usr/share/doc/libdbusmenu-qt-doc/jquery.js

override_dh_makeshlibs:
#	dh_makeshlibs -V 'libdbusmenu-qt5 (>=0.1.0)'

override_dh_auto_test:
	echo "Skipping tests (can't test inside chroot)..."
