#!/usr/bin/make -f

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --parallel --buildsystem=cmake

override_dh_auto_configure:
	mkdir qt4
	mkdir qt5
	cd qt4 && QT_SELECT=qt4 cmake -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT4=true ../
	cd qt5 && QT_SELECT=qt5 cmake -DCMAKE_INSTALL_PREFIX=/usr -DUSE_QT5=true ../

override_dh_auto_build:
	cd qt4 && make
	cd qt5 && make

override_dh_clean:
	dh_clean
	rm -rf qt4
	rm -rf qt5

override_dh_auto_install:
	cd qt4 && make DESTDIR=../debian/tmp install
	cd qt5 && make DESTDIR=../debian/tmp install
	echo "Removing embedded jquery javascript library..."
	rm debian/tmp/usr/share/doc/libdbusmenu-qt-doc/jquery.js
	rm debian/tmp/usr/share/doc/libdbusmenu-qt5-doc/jquery.js

override_dh_install:
	dh_install --fail-missing

override_dh_auto_test:
	echo "Skipping tests (can't test inside chroot)..."
